header 
    nav(class="bg-purple-500 flex justify-between items-center p-10")
        ul(class="flex justify-start items-center")
            li
                p gemeente
                    |Amsterdam

        ul(class="flex justify-end items-center gap-8")
            li
                a(href="/mensen") Mensen 
            li
                a(href="/expertise") Expertise
            li
                a(href="/projecten") Opdrachten&Projecten
            li
                a(href="/publicaties") Publicaties