header 
    nav(class=" bg-gray-400 flex justify-between items-center p-10")
        ul(class="flex justify-start items-center")
            li(class="flex justify-center items-center gap-4")
                img(class=" h-12 object-contain" src="/images/logo.svg", alt="Logo")
                p(class="w-20") gemeente Amsterdam

        ul(class="flex justify-end items-center gap-8")
            li
                a(href="/") Mensen 
            li
                a(href="/expertise") Expertise
            li
                a(href="/projecten") Opdrachten&Projecten
            li
                a(href="/publicaties") Publicaties